@import "../../assets/css/vars.scss";

.slider {
  margin-bottom: 80px;
}
.first-slide {
  max-width: 320px;
}
.second-slide {
  max-width: 582px;
}

.text {
  text-align: center;
  bottom: 30vh;
  background-color: rgba(163, 163, 161, 0.2);
  padding: 10px;
  border-radius: 50px;
  h3 {
    font-size: 45px;
    font-size: 7vh;
    font-weight: bold;
  }
  p {
    background-color: transparent;
    font-weight: bold;
  }
}

.carousel-item {
  max-height: 56.25vw;
  max-width: 100%;
  overflow: hidden;
  img {
    object-fit: cover;
    width: 100%;
    height: 550px;
  }
}

.addListBtn {
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid #a3a3a1;
  display: inline-block;
  cursor: pointer;
  color: #ecf0f1;
  font-size: 24px;
  height: 40px;
  width: 40px;
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.3s -webkit-transform;
  transition: 0.3s transform;
  transition: 0.3s transform, 0.3s -webkit-transform;
  margin-right: 10px;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
